<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.PP1.BL.Properties.Settings.BDPedidosConnectionString"
            connectionString="Data Source=dbupcdsddevb.cmsjiga1hfwr.us-east-2.rds.amazonaws.com;Initial Catalog=BDPedidos;User ID=admin;Password=jUi-kUN:&gt;^Jsdo2H"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>